fastapi
uvicorn
pydantic
python-dotenv

pymongo

PyJWT

spacy
scispacy
contractions
emoji

transformers
torch
huggingface_hub
bitsandbytes

openai

sentence-transformers

chromadb

pymupdf

docling
qdrant_client